<style>
    .user_image {
        display: block;
        position: relative;
        margin: 1px;
        background: #f00;
        border-radius: 80px;
        height: 80px;
        width: 80px;
    }

    .user_image:before {
        content: attr(data-name);
        color: #fff;
        position: absolute;
        font-size: 36px;
        left: 40%;
        bottom: 20%;
        font-weight: bold;
    }
</style>
<div class="row">
  <div class="col-sm-1">
    <div class="user_image" data-name="<%= @user.username.first %>">
      <img src=""/>
    </div>
  </div>
  <div class="col-sm-6">
    <strong>Username:</strong> <%= @user.username %>
    <br>
    <strong>Email:</strong> <%= @user.email %>
    <br>
    <strong>Registered Date:</strong> <%= time_ago_in_words(@user.created_at) %> ago
    <br>
  </div>
  <div class="col-sm-5 mb-5">
    <div id="followers">
      <strong>Follower: </strong> <%= @user.followers.count %> <br>
      <strong>Following: </strong> <%= @user.following.count %>
    </div>
    <% if user_signed_in? && @user != current_user %>
      <p><%= render 'follow_form' %></p>
    <% end %>
  </div>
  <div class="col-sm-12">
    <h2><%= @user.username %>'s posts</h2>
  </div>
  <div class="col-sm-12">
    <% if @user.posts.availables.any? %>
      <table class="table">
        <thead>
        <th>Title</th>
        <th>Content</th>
        <th>Comment</th>
        <th>Created Date</th>
        </thead>
        <tbody>
        <% for post in @user.posts.availables %>
          <tr>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= substr(post.content) %></td>
            <td><%= post.comments.count %></td>
            <td><%= time_ago_in_words(post.created_at) %> ago</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-warning">
        <%= @user.username %>'s haven't post.
      </div>
    <% end %>
  </div>
  <div class="col-sm-12">
    <h2><%= @user.username %>'s comments</h2>
  </div>
  <div class="col-sm-12">
    <% if @comments.any? %>
      <table class="table">
        <thead>
        <th>Post Title</th>
        <th>Title</th>
        <th>Content</th>
        <th>Created Date</th>
        </thead>
        <tbody>
        <% for comment in @comments %>
          <tr>
            <td><%= link_to comment.post.title, post_path(comment.post.id) %></td>
            <td><%= comment.title %></td>
            <td><%= substr(comment.content) %></td>
            <td><%= time_ago_in_words(comment.created_at) %> ago</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-warning">
        <%= @user.username %>'s haven't comment.
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'back', _back_url, class: 'btn btn-primary' %>
</div>
