<div class="row">
  <div class="col-12">
    <p>
    <h1>
      <%= @post.title %>
    </h1>
    </p>
    <p>
      ✍ <%= link_to @post.user.username, user_detail_path(@post.user) %> | ⏱️<%= time_ago_in_words(@post.created_at) %>
    </p>

    <p>
      <%= @post.content %>
    </p>

    <br>
    <p> Vote(<strong id="vote_count"><%= @post.vote_count %></strong>)
      <br>
      <% if user_signed_in? && @post.user != current_user %>
        <%= link_to '👍', vote_add_post_path(@post), method: :patch, class: 'btn btn-primary', remote: true %>
        | <%= link_to '👎', vote_reduce_post_path(@post), method: :patch, class: 'btn btn-primary', remote: true %>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Comments</h2>
    <hr>
    <div id="user_comment">
      <% if @user_comment.any? %>
        <% @user_comment.each do |comment| %>
          <%= render :partial => 'comment/comment_component', :locals => { :comment => comment } %>
        <% end %>
      <% end %>
    </div>
    <br>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render :partial => 'comment/comment_component', :locals => { :comment => comment } %>
      <% end %>
    <% else %>
      <div class="alert alert-warning">There is no comment</div>
    <% end %>

  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <h2>Add a comment</h2>

    <div id="comment_form">
      <%= form_with(model: [@post, @post.comments.build], local: false) do |form| %>
        <p>
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control', id: 'input_title' %>
        </p>
        <p>
          <%= form.label :content %>
          <%= form.text_area :content, class: 'form-control', id: 'textarea_content' %>
        </p>

        <p>
          <%= form.submit :class => 'form-control btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<br>

<% if current_user == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', _back_url %>
